@model List<InvoiceCalculateGetDto>
@{ 
    int count = 1;

}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Invoice No</th>
            <th scope="col">Due Date</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
        <tr>
            <th scope="row">@(count++)</th>
            <td>@item.serviceNr</td>
            <td>@item.date.ToString("dd/MM/yyyy")</td>
            <td>@item.amount</td>
        </tr>
            }
        }
    </tbody>
</table>